<section class="home">
  <form [formGroup]="formInfo" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 pl-0">
        <ng-container *ngIf="obj?.inputs?.length">
          <div *ngFor="let input of obj.inputs; let i = index">
            <ng-container *ngIf="input.type == 'text' || input.type == 'password' || input.type == 'email' || input.type == 'tel' || input.type == 'file'">
              <div class="form-group">
                <label class="title-field font-weight-bold" [attr.for]="input.label + '_' + i">{{input.label}}</label>
                <input [type]="input.type" class="form-control" [id]="input.label + '_' + i" [value]='input.value'
                  [formControlName]='input.name' />
              </div>
            </ng-container>
            <ng-container *ngIf="input.type == 'checkbox'">
              <div class="form-check  form-check-inline mt-2">
                <input type="checkbox" class="form-check-input" [id]="input.label" [formControlName]="input.name"
                  [value]='input.value' />
                <label class="title-field form-check-label font-weight-bold"
                  [attr.for]="input.label">{{input.label}}</label>
              </div>
            </ng-container>
            <ng-container *ngIf="input.type == 'radio'">
              <div class="mt-2">
                <label class="title-field font-weight-bold">{{input.label}}</label>
              </div>
              <div class="form-check  form-check-inline" *ngFor='let button of input.options; let i = index'>
                <input type="radio" class="form-check-input" [id]="button.name + '_' + i" [value]='button.id'
                  [formControlName]="input.name" />
                <label class="title-field form-check-label" [attr.for]="button.name + '_' + i">{{button.name}}</label>
              </div>
            </ng-container>
            <ng-container *ngIf="input.type == 'select'">
              <div class="form-group">
                <label class="title-field mt-2 font-weight-bold"
                  [attr.for]="input.label + '_' + i">{{input.label}}</label>
                <select class="form-control" [id]="input.label + '_' + i" [value]='input.value'
                  [formControlName]="input.name">
                  <option *ngFor='let option of input.options' [value]='option.id'>{{option.name}}</option>
                </select>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <!-- col -->
      <div class="col-md-6">
        <div class="form-group">
          <label class="title-field" for="exampleFormControlTextarea1">Example textarea</label>
          <textarea type='text' class="form-control" id="exampleFormControlTextarea1" rows="15" [value]="obj | json"
            (change)="getNewObj($event.target.value)"></textarea>
        </div>
      </div>
      <!-- col -->
    </div>
    <!-- row -->

    <div class="row mt-2 mb-2" *ngIf='obj.inputs.length'>
      <button class="btn btn-primary mr-2" [disabled]="!formInfo.dirty">Submit</button>
      <button class="btn btn-danger" type="button" (click)='clearForm()'>Cancel</button>
    </div>
    <!-- row -->
  </form>

  <ng-container *ngIf='showUserInfo'>
    {{showDetails | json}}
  </ng-container>
</section>
